
.cloud 
    position:absolute
    background-size:contain
    background-position:center top
    background-repeat:no-repeat
    
    @media(max-width: 767px)
        display: none
    
    
    &.one
        background-image: url('/images/clouds/cloud-01.png')
        width: 1496px
        height: 645px
     
    &.two
        background-image:  url('/images/clouds/cloud-02.png')
        width:702px
        height:670px
        
    &.three
        background-image:  url('/images/clouds/cloud-03.png')
        width: 1614px
        height: 744px

    &.four
        background-image:  url('/images/clouds/cloud-04.png')
        width: 686px
        height: 544px

    &.six
        background-image:  url('/images/clouds/cloud-06.png')
        width: 1328px
        height: 643px
        
    &.seven
        background-image:  url('/images/clouds/cloud-07.png')
        width: 1220px
        height: 600px
