

.coaster-container
    position:absolute
    top:0
    right:0
    z-index:2
    &#home-coaster-1-a
        top:75px
        right:-250px
        
        @media(max-width: 1000px)
            right: -325px
        
        @media(max-width:900px)
            right: -400px
        
        @media(max-width: 800px)
            right: -450px
        
        @media(max-width:767px)
            display: none

    &#home-coaster-1-b 
        left: 0
        bottom: -20px
        top: auto
        canvas
            vertical-align:bottom
            
        @media(max-width: 767px)
            display: none
            
            
    &#home-coaster-3-a
        right:0
        top:-8px

        @media(max-width: 767px)
            display: none
        
        
    &#home-coaster-3-b
        right:auto
        left:0
        top:930px
        z-index: 3 !important
        
        @media(max-width: 1000px)
            left: -50px

        @media(max-width: 950px)
            left: -75px

        @media(max-width: 900px)
            left: -100px

        @media(max-width: 850px)
            left: -125px

        @media(max-width: 800px)
            left: -150px
        
        @media(max-width: 767px)
            display: none
        
        
    &#parks-coaster-1 , &#offerings-coaster-1 , &#accommodations-coaster-1, &#groups-coaster-1-a , &#jobs-coaster-1-a , &#sponsorship-coaster-1 , &#partnership-details-coaster-1, &#news-coaster-1, &#whoweare-coaster-1
        left:0;
        canvas
            position: absolute
            display: block
            top: 0
            left: 50%
            transform: translateX(-50%)
        
    &#parks-coaster-1
        top:700px
       
            
            
    &#offerings-coaster-1
        top:830px
     
     
            
    &#accommodations-coaster-1
        top:680px
        
    &#sponsorship-coaster-1
        top:880px
        
    &#partnership-details-coaster-1
        top:670px
        

    &#news-coaster-1
        top:350px
        
    &#whoweare-coaster-1
        top:640px
    
    &#groups-coaster-1-a

        bottom:0
        top:0
        left:0
        right:0
        overflow:hidden
        
        canvas
            top:auto
            bottom: 0!important
         
            
            
    &#jobs-coaster-1-a
        top:1560px
        
            
        
        
        
        
    
