extends ../../layouts/_main


block css   
    link(href="/styles/error.css", rel="stylesheet")

block content
    .container
        .title-bucket.two
            h1 Page Not Found
            p There doesn't appear to be anything here.
