

#group-sales
    margin:0 auto
    padding-top: 500px
    
    #select-testimony
        .gal-arrow
            &:hover
                transform: translate3d(0,0,0px) scale(1.1, 1.1) !important
                
            &:active
                transform: translate3d(0,0,0px) scale(1, 1) !important

    .title-bucket.four
        h2
            letter-spacing: -0.08em
            padding-top: 2px

    .btn-wrapper 
        padding-top: 3px
        
    
@media(max-width: 767px)
    #group-sales
        padding-top: 100px
        
        .select-container
            margin-top: 0
    
        .testimonial-wrapper
            position: relative
            top: 50%
            transform: translateY(-50%)
    
        .gal-arrow
            top: 45% !important
        
        
        

#accommodations
    margin: 375px auto 0
    #accommodations-links
        margin-top: 40px
        .btn-wrapper a
            margin: 0 10px
