


#who-we-are
    padding-top: 4%
    
    .title-bucket.two
        h1
            letter-spacing: -0.015em
            
        @media(max-width: 767px)
            h2
                max-width: 250px
                margin: 0 auto



 
