@import '../global/index.styl'

#legal
    padding: 200px 2.5% 0
    
    h1
        font-size: 18px
        font-family: arial
        color: darkBlue

    p
        padding: 10px 0
        
        
    ul
        li
            list-style-type: disc
            margin-left: 2.5%
            
            
    .privacy
        p
            line-height: 20px
