block content
    #attractions.section-inner
        .title-bucket.two
            h1 Thousands
            h1 of people agree.
            h2 Thousands of coasters, rides and
            h2 attractions are kinda awesome.

        #attractions-gallery
            i.fa.fa-angle-left
            i.fa.fa-angle-right
            img#attractions-gallery-img1.attractions-gallery-img(src="images/attractions/attraction-placeholder1.jpg")