block content
    #who-we-are.section-inner(data-depth="50")
        .title-bucket.two
            h1 #{content.aboutHeadline1}
            h1 #{content.aboutHeadline2}
            h2 #{content.aboutSubHeadline}

        .circ-btn-wrapper.parallaxize
            p SCROLL
            a.btn-circ-darkBlue.scrollto(href="javascript://", data-target="home-section2")
