block overlay_sources
    #manifesto_overlay
        h1 Fun. We take it seriously.
        div !{content.manifesto}                                    
        div(style="padding-bottom:70px")
        //-
            h1 Fun. We take it seriously.
            p Few companies’ quarterly goals are about
                br
                | how many stomachs they can drop.
            p Or having to fulfill monthly quotas of
                br
                | pounding hearts.'
            p And rarely are so many pie charts
                br
                | dedicated to funnel cake.
            p But that's what we do at Cedar Fair HQ.
                br
                | And we take it seriously.
            p Every day we roll up our sleeves and figure
                br
                | out how our fun, can be more fun.
            p How our live shows can keep families singing.
            p And how our water park slides will get every member
                br
                | of the family yelling for mommy. Including mommy.
            p If we’re not producing butterflies in your stomach,
                br
                | we’re not doing our jobs.
            p We don’t take our fun lightly. And it shows at the park.
                br
                | At every scream-inducing, mind-bending turn.
            p Because fun that brings this many people
                br
                | together is its own ROI.
