#iefallbackcontent.section-inner(data-depth="20")
    .title-bucket.two
        h1 Since fun is our job,
        h2 we have to tell you this site won't be 
        h2 any fun until you upgrade your browser.
        h2 As in, it won't work.

    p.upgrade Upgrade to the current version here:
        
        
        #select
            .title-bucket.two
                h1 Select a browser
                
                ul.browser-list
                    a(href="http://outdatedbrowser.com")
                        li.ie
                            img(src='images/ielogo.png')
                            p IE
                    a(href="http://outdatedbrowser.com")
                        li.firefox
                            img(src='images/fflogo.png')
                            p Firefox
                    a(href="http://outdatedbrowser.com")
                        li.safari
                            img(src='images/saflogo.png')
                            p Safari
                    a(href="http://outdatedbrowser.com")
                        li.chrome
                            img(src='images/chrlogo.png')
                            p Chrome
    
