extends email_layout


block content
    h3 Contact Name: #{body.name}
    h3 Contact Email: #{body.email}
    h3 Contact Phone: #{body.phone}
    
    p.
        #{body.comment}
        
    
   
    
