block content
    #testimonials.section-inner
        .title-bucket.five
            h1 #{content.satHeadline}
            h2 #{content.satSubHeadline}

        .gallery-wrapper
            +groupGalleryMixin(content.sponsorships)(circleSize='large blue-interior inset' itemClass='sponsorship-gallery-image' buttons='true')

        
        
        
